.dropdown-menu {
    padding: 0px !important;
}

.dropdown-item:hover {
    background-color: #833ab4;
    color: #fff;
    transition: .3s;
}

.dropdown-item {
    font-size: 19px !important;
    transition: .3s;
    padding: 0.5rem 1.5rem !important;
}

.contact .fas.fa-phone-alt {
    font-size: 25px;
    position: relative;
    top: -3px;
}

.fa-external-link-alt{
    font-size: 12px;
    color:#fff;
    left:3px;
}

.slide-text-top + img {
    filter: brightness(80%);
}

.propos p:nth-child(1) {
    padding: 0 25% 0 0;
}

.container .card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #833ab4;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.container .card-header button {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .6em;
}

#accordionExample {
    margin-bottom: 70px;
}

.header {
    height: 250px;
    margin-bottom: 70px;
    text-align: center;
    background-image: url(/upload/slide/header.jpg);
}

.header::after {
    content: "";
    height: 250px;
    display: block;
    background: linear-gradient(to top, #000000b3 100%, transparent 0%);
    position: relative;
    top: 0px;
}

.col-sm-12.col-xs-12.how-m p + p {
    color: #097ceb;
    padding-left: 5%;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    top: -12px;
}

.col-sm-12.col-xs-12.how-m p + p > span{
    color: lightsteelblue;
}

.col-sm-12.col-xs-12.how-m {
    margin-top: 25px;
}

.col-sm-12.col-xs-12.how-m p:nth-child(1) span {
    background-color: #833ab4;
    color: #fff;
    padding: 5px 10px;
    border-radius: 13px;
    font-size: 18px;
    margin-right: 7px;
}

.offre-descrption-no {
    background-color: #19a1da;
    padding: 15px 0;
    text-align: center;
    color: #fff;
    font-size: 20px;
    margin: 0 0 40px 0;
}

.offre-descrption-no a{
    color:#833ab4;
}

.annonceur.phone {
    background-color: #fff;
    margin-top: 0px;
}

.offre-date.col {
    color: #9a9a9a;
    text-align: right;
}

.navbar-nav.connexion {
    float: left;
}

.col-12.ins-numero input {
    padding-left: 10%;
}

.col-1.indicatif {
    background-color: #19a1da;
    color: #fff;
    text-align: center;
    padding: 7px 0;
    position: relative;
    margin-top: -36px;
    top: 38px;
    z-index: 1;
    left: 16px;
    border-radius: 3px;
}

.btn.btn-primary {
    margin-bottom: 50px;
}

.search{
    background: #19a1da;
    color: #fff;
    margin: 45px 0 20px 0;
    padding: 8px 0 15px 0;
}

.rien-offre.col {
    font-size: 18px;
    text-align: center;
    margin: 50px 0;
}

.pagination.justify-content-center {
    margin-bottom: 50px;
}

.bi.bi-person-circle {
    position: relative;
    top: -14px;
}

#appbundle_user_numero + p {
    color: #0006;
}

.tous-champs {
    color: #92888880;
    font-size: 19px !important;
    margin-top: 55px !important;
}

.col.inscription-left p span {
    margin-right: 1%;
}

.col.inscription-left p {
    font-size: 30px;
}

.col.inscription-left h2 {
    color: #097ceb;
    margin-top: 35px;
    font-size: 45px;
    margin-bottom: 30px;
}

.col.inscription-left p:nth-child(2) {
    color: #833ab4;
}

.col.inscription-left p:nth-child(3) {
    color: #19a1da;
}

.col.inscription-left p:nth-child(4) {
    color: #26ae61;
}

.col.inscription-left p,.col.inscription-left h2{
    font-weight: bold;
}

.inscription {
    margin-top: 50px;
    margin-bottom: 50px;
}

.form-inscription {
    margin-bottom: 25px;
}

.inscription form {
    width: 100%;
}

.paralax .col-sm-4 {
    text-align: center;
}

.content-footer a {
    color: #fff;
}

.social .row .col-sm-6 {
    height: 100px;
}

.social i {
    font-size: 40px;
    top: 22px;
    position: relative;
}

.social.col-sm-2 i {
    font-size: 18px;
    top: 2px;
}


.social .social-text p {
    font-size: 25px;
    margin-bottom: 10px;
    line-height: 25px;
    font-weight: bold;
    position: relative;
    top: 25px;
    text-align: center;
    color: #833ab4;
}

.social-text.col-sm-5 p {
    font-size: 12px;
    margin-bottom: 10px;
    line-height: 15px;
    font-weight: bold;
    position: relative;
    top: 14px;
    text-align: center;
    color: #833ab4;
}

.social i {
    color:#fff;
}

.social a {
    display: block;
    text-align: center;
    padding-top: 10px;
    transition: .3s;
}

.social a:hover {
    background-color: #ffd119;
    transition: .3s;
}

.col-sm-6.face , .col-sm-2.face {
    background-color: #19a1da;
    height: 40px;
}

.col-sm-6.twitt,.col-sm-2.twitt {
    background-color: #097ceb;
}

.col-sm-6.insta, .col-sm-2.insta {
    background-color: #833ab4;
}


.phone .col-sm-6 .row > .col-sm-4 {
    margin-top: 15px;
color: #097ceb;
font-weight: bold;
text-align: center;
}

.phone .row .col-sm-4 p:nth-child(2) span {
    color: #001022;
}

.phone .col-sm-6 .row > .col-sm-4 p:nth-child(1) {
    font-size: 24px;
    text-align: center;
    position: relative;
}

.annonceur .col-sm-6 .row > .col-sm-4 p {
    color: #19a1da;
}

.phone .col-sm-6 .row > .col-sm-4 p:nth-child(1) span {
    border: 3px solid;
    border-radius: 17px;
    padding: 0 8px;
}

.navbar-brand.logo-site img {
    width: 25%;
}

.phone-top {
    font-weight: bold;
    font-size: 33px;
    line-height: 41px;
    margin-top: 20px;
    margin-bottom: 25px;
    font-family: 'Poppins', sans-serif;
}

.voir-plus i {
    left: 0%;
    position: relative;
    top: 2px;
    transition: .3s;
}

.voir-plus a:hover i {
    left: 10px;
    transition: .3s;
}

.phone .row .col-4 p {
    color: #097ceb;
    font-weight: bold;
    text-align: center;
}

.phone {
    background-color: #f8f9fa;
    padding: 70px 0;
    margin-top: -50px;
}

.voir-plus {
    text-align: right;
    margin-top: 15px;
}

.voir-plus a{
    transition: .3s;
    font-size: 24px;
    color: #833ab4;
    font-weight: bold;
    text-decoration: none;
}

.phone .voir-plus a {
    position: relative;
    top: 20px;
}

.voir-plus a:hover{
    transition: .3s;
    color: #26ae61;
}

.container.immo-front.front {
    margin-bottom: 50px;
}

/*.paralax::after {
    content: "";
    height: 450px;
    display: block;
    background: linear-gradient(to top, #0a88f0b3 55%, #0a88f033 100%);
    position: relative;
    top: -345px;
}*/

.col-sm-6.col-image img {
    width: 100%;
}

.paralax span {
    color: #ffd119;
}

.paralax .col p:nth-child(2) {
    font-size: 20px;
}

.paralax i {
    font-size: 35px;
    margin-top: 35px;
}

.paralax .col p:nth-child(1) {
    text-align: center;
}

.paralax .container {
    position: relative;
    z-index: 1;
}

.paralax {
    background-image: url(/upload/slide/abj-bg-blue.jpg);
    height: 450px;
    background-attachment: fixed;
    background-position: 50% -143px;
    background-repeat: no-repeat;
    margin-bottom: 50px;
    color: #fff;
}

.paralax .para-top {
    font-size: 2.3rem;
    font-weight: bold;
    text-transform: uppercase;
    padding-right: 20%;
    padding-top: 90px;
}

.paralax img {
    filter: brightness(85%);
}

.titre-footer {
    color: #19a1da;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 24px;
}

.copyright {
    background: #00152c;
    padding: 20px 0;
    margin-top: 60px;
    text-align: center;
}

.footer{
    background: #001022 !important;
    color:#fff;
    padding: 50px 0 0 0;
}

.slide {
    margin-top: -163px;
}

.slide svg {
    color: #fff;
    font-size: 33px;
    transition: .3s;
}

.slide svg:hover {
    cursor: pointer;
    transition: .3s;
    color:#000;
}

.slide .bi.bi-chevron-left.slick-arrow {
    left: 2%;
    position: relative;
    top: 400px;
    z-index: 1;
}

.slide .bi.bi-chevron-right.slick-arrow {
    position: absolute;
    top: 400px;
    right: 2%;
}

.base .navbar {
    padding: .1rem 1rem;
}

.base .navbar-nav li .nav-link {
    font-weight: 500;
    font-size: 20px;
    padding: 10px 20px;
    color: #001935;
}

.tel {
    position: relative;
    font-size: 13px;
    top: 2px;
}

.mail {
    margin-left: 2%;
    position: relative;
    top: 3px;
    font-size: 14px;
}

.top {
    background: #001022;
    color: #fff;
    height: 30px;
    position: relative;
    z-index: 1;
    padding: 0 2.3%;
}

.top a svg {
    color: #fff;
    font-size: 23px;
    position: relative;
    top: -8px;
    transition: .3s;
}

.top a{
    color:#fff;
    transition: .3s;
    position: relative;
    top: 3px;
}

.top a svg:hover, .top a:hover {
    color: #ffd119;
    transition: .3s;
}

.voir-offre svg {
    font-size: 29px;
    float: right;
    position: relative;
    margin-top: -33px;
    left: 0;
    transition: .3s;
}

.voir-offre svg:hover {
    left: 3px;
    transition: .3s;
}

.col.offre-immo{
    margin-top: 75px;
}

.immo-front {
    margin-top: 20px;
}

.col-12.image-immo svg {
    font-size: 35px;
    background-color: #000;
    color: #fff;
    padding: 2px 4px;
    margin-top: -30px;
    transition:.3s;
    z-index: 2;
}

.col.comm-immo {
    position: relative;
    text-align: right;
    font-size: 19px;
    top: -18px;
    margin-bottom: 15px;
    color: #833ab4;
font-weight: bold;
}

.col-12.image-immo svg:hover {
    transition: .3s;
    cursor: pointer;
    background-color: #e0203b;
}

.bi.bi-chevron-left.slick-arrow {
    left: 92%;
    position: relative;
    top: 44px;
}

.bi.bi-chevron-right.slick-arrow {
    position: absolute;
    top: 54px;
    right: 0%;
    margin-right: 15px;
}

.row.row-offre-contenu {
    color: #888;
    font-weight: bold;
    margin: 10px 0;
}

.col-12.type-immo-contenu {
    position: relative;
    margin-bottom: -49px;
    z-index: 2;
}

.col.loyer_immo p{
    font-size: 24px;
font-weight: bold;
color: #007bff;
text-align: right;
margin-right: 15px;
}

.col-12.titre-immo {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -.15px;
    line-height: 38px;
    margin-bottom: 15px;
}

.image-immo img {
    width: 100%;
}

.col-sm-4.offre-immo-front {
    background-color: transparent;
    transition: .3s;
    width: 30% !important;
    max-width: 30%;
    padding: 0 0;
    margin: 0 1.6% 40px;
}

.row.row-com-bien .col {
    position: relative;
    top: 10px;
}

.col-sm-4.offre-immo-front:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,.25);
    transition: .3s;
}

.col-12.image-immo-front {
    position: relative;
    z-index: 1;
    padding: 0 0;
}

.image-immo-front img {
    width: 100%;
    filter: brightness(85%);
}

.col-12.type-immo-front {
    position: relative;
    margin-bottom: -25px;
    z-index: 2;
    padding: 0 0;
}

.col-12.type-immo-front span,.col-12.type-immo-contenu span {
    text-transform: capitalize;
    padding: 4px 10px;
    color: #fff;
    background-color: #833ab4;
}

.col-12.type-immo-front .vente,.col-12.type-immo-contenu .vente {
    background-color: #097ceb;
}

.col-12.titre-immo-front {
    margin: 15px 0;
    padding: 0 2%;
}

.col-12.titre-immo-front a {
    color: #343845;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    padding: 0 0 0 2%;
}

.col-4.offre-immo-front .row {
    color: #888;
}

.row-com-bien{
    padding: 8px 2%;
    line-height: 37px;
    height: 90px;
    margin-bottom: 20px;
}

.col-6.bien-immo-front, .dwc{
    text-align: right;
}

.chbr{
    text-align: center;
}

.col-4.offre-immo-front > div {
    padding: 0 0;
}

.col-sm-12.loyer {
    border-top: 1px solid #888888b3;
    padding: 8px 0 !important;
    font-size: 18px;
}

.col-12.autre-offre {
    border: 1px solid rgba(0,0,0,.25);
    margin-top: -3px;
    padding: 0 3% !important;
}

@keyframes fadeinup{

0% {
    -webkit-transform: translate3d(0,100%,0);
    opacity: 0;
    transform: translate3d(0,100%,0);
}
100% {
    -webkit-transform: translateZ(0);
    opacity: 1;
    transform: translateZ(0);
}
}

.slick-slide.slick-current.slick-active .slide-text {
-webkit-animation: fadeinup 0.7s ease-in 400ms both;
animation: fadeinup 0.7s ease-in 400ms both;
position: relative;
margin-top: -310px;
font-size: 3.5em;
color: #fff;
font-weight: bold;
padding: 0 23% 0 0;
line-height: 71px;
}

@keyframes fadedown{

0% {
    -webkit-transform: translate3d(0,-100%,0);
    opacity: 0;
    transform: translate3d(0,-100%,0);
}

100% {
    -webkit-transform: translateZ(0);
    opacity: 1;
    transform: translateZ(0);
}

}

.slick-slide.slick-current.slick-active .slide-text-top {
    -webkit-animation: fadedown 0.8s ease-in 400ms both;
    animation: fadedown 0.8s ease-in 400ms both;
}

.slide-text-top.container {
    z-index: 1;
    position: relative;
    top: 239px;
    font-size: 4em;
    color: #fff;
    font-weight: bold;
    margin-top: 18px;
    text-transform: uppercase;
    padding-left: 0;
}

.navbar.navbar-expand-lg.navbar-light.bg-light {
    position: relative;
    z-index: 2;
}

.contact:hover {
    transition: all 0.24s ease;
    -webkit-transition: all 0.24s ease;
    letter-spacing: 3px !important;
    vertical-align: middle;
    text-align:center;
}

.contact {
    font-weight: bold;
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 398px;
    transition: all 0.24s ease;
    -webkit-transition: all 0.24s ease;
    vertical-align: middle;
    background-color: #ffd119;
    height: 70vh;
    padding-top: 11%;
    overflow-x: hidden;
    margin-top: -45px;
    margin-bottom: 25px;
}

/***************************************** CSS time line *************************************/
.container.block-time-line {
    margin: 100px auto;
}

.timeline {
    position: relative;
   
    background-color: #474e5d;
    padding: 35px 0;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #fff;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .block-time-line .container {
    padding: 10px 40px;
    position: relative;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .block-time-line .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    left: -25.4%;
  }
  
  /* Place the container to the right */
  .right {
    left: 25.4%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
  }
  
  body a:hover {
    text-decoration: none;
}

.slide-text.container {
    color: #fff;
}

  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
  /* Place the timelime to the left */
    .timeline::after {
      left: 31px;
    }
  
  /* Full-width containers */
  .block-time-line .container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
  
  /* Make sure that all arrows are pointing leftwards */
  .block-time-line .container::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }
  
  /* Make sure all circles are at the same spot */
    .left::after, .right::after {
        left: 1%;
        top: 37px !important;
    }
  
  /* Make all right containers behave like the left ones */
    .right {
      left: 0%;
    }

  .col-sm-4.col-xs-12.offre-immo-front {
        margin-bottom: 40px;
    }

    .col-xs-12.offre-immo-front {
        width: 90% !important;
        max-width: 100%;
        margin: 0 auto;
            margin-bottom: 0px;
    }

    .slide-text-top.container {
        font-size: 2.5em;
        padding: 0 5% 0 5%;
    }

    .slick-slide.slick-current.slick-active .slide-text {
        margin-top: -310px;
        font-size: 3em;
        padding: 0 5% 0 5%;
        line-height: 50px;
    }

    .base .navbar {
        padding: .1rem 0rem;
    }

    .social-text.col-sm-5 p {
        font-size: 14px;
        margin-bottom: 15px;
        line-height: 28px;
    }

    .navbar-brand.logo-site {
        text-align: center;
    }

    .navbar-brand.logo-site img {
        width: 30%;
    }

    #navbarNavDropdown {
        padding: 0 0;
    }

    .navbar-nav li {
        border-bottom: 1px solid #3333331a;
    }

    .social.col-sm-2 i {
        font-size: 17px;
        top: -3px;
    }

    .paralax .para-top {
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        padding-right: 0%;
        padding-top: 20px;
    }

    .paralax::after {
        content: "";
        height: 450px;
        display: block;
        background: linear-gradient(to top, #0a88f0b3 55%, #0a88f033 100%);
        position: relative;
        top: -493px;
    }

    .phone {
        margin-bottom: 50px;
    }

    .phone {
        padding: 20px 0;
    }

    .phone .voir-plus a {
        top: 0px;
    }

    .phone-top {
        text-align: center;
    }

    .timeline::after {
        left: 50%;
    }

    .block-time-line .container {
        width: 90%;
        padding-left: 0;
        padding-right: 0;
    }

    .left {
        left: 0%;
    }

    .contact {
        letter-spacing: 0px;
        height: 30vh;
    }

    .col.contact p {
        text-align: center;
    }

    .top a {
        font-size: 14px;
    }

    .row.search label {
        position: relative;
        top: 9px;
    }

    .col.offre-immo {
        margin-top: 75px;
        padding: 0 0;
    }

    .bi.bi-chevron-left.slick-arrow {
        left: 70%;
        top: 43px;
    }

    .offre-descrption-no {
        padding: 15px 3%;
        font-size: 18px;
        margin: 25px 0 40px 0;
    }

}

    @media (max-width:1280px){

    .social-text.col-sm-5 p {
        font-size: 12px;
        top: 5px;
    }

    .social.col-sm-2 i {
        font-size: 18px;
        top: 0px;
        right: 5px;
    }

  }