{# app/Resources/TwigBundle/views/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}

<div class="container" style="margin-bottom: 70px;">
    <h1 style="color:#097ceb">Ooups il y a une souci</h1>
    <p>
       Veuillez nous faire part du problème <a href="/">page d'accueil</a>.
    </p>
</div>

{% endblock %}