{% extends 'admin.html.twig' %}

{% block body %}
 <div class="container">
    {{ form_start(form) }}
        {{ form_row(form.nom) }}

        <button type="submit">Enregistrer</button>
    {{ form_end(form) }}
 </div>

{% endblock %}