{% extends 'base.html.twig' %}

{% block body %}

<div class="col contact">
    <p>info@gbata.ci</p>
    <p>+225 45 452 861</p>
    <p><i class="fas fa-phone-alt"></i> <i class="fas fa-envelope"></i> <i class="fab fa-whatsapp"></i></p>
</div>

{% endblock %}