{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div> Gbata vous permez recherchez facilement un bien en recevant les offres correspondantes par SMS. 
        Il vous suffit de vous inscrire simple, la procedure d'inscription est décrite ci dessous cela ne prendra pas plus de +2mn</div>

        <div>
            <p><span>1</span>Envoyez par sms au 47113202 </p>
            <p>GBATA </p>
        </div>

    </div>
{% endblock %}