{% extends 'base.html.twig' %}

{% block body %}

    <div class="container how-do">

        <div class="alert alert-warning" style="text-align:center;margin-bottom:30px"> <i class="fas fa-exclamation-triangle"></i> 
        Toutes les syntaxes ci dessous sont à envoyer au numéro du serveur +225 07 47 11 32 02 </div>

        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        inscription
                    </button>
                </h2>
                </div>
                <!--                    1er Collapse              -->
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">

                    <div class="col-sm-12 col-12"> Gbata vous permez de rechercher facilement un bien en recevant des offres par SMS. 
                        Il vous suffit de vous inscrire, simple. La procedure d'inscription est décrite ci dessous cela ne prendra pas plus de +2mn</div>

                    <div class="col-sm-12 col-12 how-m">
                        <p><span>1</span>Envoyez par sms au 0747113202</p>
                        <p>GBATA</p>
                    </div>
                    <div class="col-sm-12 col-12 how-m">
                        <p><span>2</span>Choisissez le type d'offre envoyant le numéro coorespondant "Location" ou "Vente"</p>
                        <p>1 <span> ou </span> 2</p>
                    </div>

                    <div class="col-sm-12 col-12 how-m">
                        <p><span>3</span>Choisissez le type de bien coorespondant "Maison" ou "Terrain"</p>
                        <p>1 <span> ou </span> 2</p>
                    </div>

                    <div class="col-sm-12 col-12 how-m">
                        <p><span>4</span>Choisissez le numéro correspodant à l'usage de votre bien "Habitation", "Bureau", "Magasin" ...</p>
                        <p>1 <span>ou</span> 2 <span> ou </span> 3 <span>...</span></p>
                    </div>

                    <div class="col-sm-12 col-12 how-m">
                        <p><span>5</span>Renseigner le nom de la commune dans laquelle vous recherchez votre bien, en évtant les accents et tiret</p>
                        <p><span>Exemple:</span> Grandbassam <span> ou </span> Cocody <span> ou </span> Adjame</p>
                    </div>

                    <div class="col-sm-12 col-12 how-m">
                        <p><span>6</span>Le nombre de pièce de votre maison, par exemple pour studio ce sera 1</p>
                        <p><span>Exemple:</span> 1 <span>ou</span> 2 <span> ou </span> 3 <span>...</span></p>
                    </div>

                    <div class="col-sm-12 col-12 how-m">
                        <p><span>7</span>Donner votre budget maximum que le prix du bien ne doit pas dépasser, évitez les espaces</p>
                        <p><span>Exemple:</span> 200000 <span> ou </span> 5000000</p>
                    </div>


                </div>
                </div>
            </div>
            <!--                    2e Collapse              -->
            <div class="card">
                <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Faites de modifications
                    </button>
                </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                <!--
                    <div class="col-sm-12 col-12 how-m">
                        <p><span>1</span>Modifier votre budget, envoyez " BUD*BUDGET "</p>
                        <p><span>Exemple: </span>BUD<span>*</span>180000</p>
                    </div>

                    <div class="col-sm-12 col-12 how-m">
                        <p><span>2</span>Changer ne nombre de pièce recherché, envoyez " PCS*NOMBRE_DE_PIECE "</p>
                        <p><span>Exemple: </span> PCS<span>*</span>2</p>
                    </div>
                -->
                    <div class="col-sm-12 col-12 how-m">
                        <p><span>3</span>Se désinscrire du service et supprimer ses données, envoyez</p>
                        <p> STOP</p>
                    </div>
                </div>
                </div>
            </div>
            <!--                    3e Collapse              -->
            <div class="card">
                <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Agence ou agent immobilier
                    </button>
                </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="col-sm-12 col-12 how-m">
                        <p><span>1</span>Inscrivez vous soit <a href="/inscription">ici</a> soit par SMS en suivant la procedure ci-dessus</p>
                        
                    </div>

                    <div class="col-sm-12 col-12 how-m">
                        <p><span>2</span>Faites le nous savoir en nous transmettans vos identifants(email et numéro de téléphone) utlisé pour vous inscrire.
                        Nous activerons votre compte annonceur après quelques vérifications</p>

                        <p style="text-align:center;margin-top:25px"><span>info@gbata.xyz <i class="fas fa-envelope"></i> </span> <span style="margin-left:20px"> +225 45 452 861 <i class="fas fa-phone-alt"></i> <i class="fab fa-whatsapp"></i></span></p>
                    </div>
                </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}