{% extends 'base.html.twig' %}

{% block body %}

<div class="container block-time-line">
    <div class="timeline">
        <div class="container left">
          <div class="content">
            <h2>2014</h2>
            <p>Juste une question comment résoudre la recherche de maison en Abidjan ?</p>
          </div>
        </div>

        <div class="container right">
          <div class="content">
            <h2>2014</h2>
            <p>Recherche de solutions...un idée</p>
          </div>
        </div>

        <div class="container left">
            <div class="content">
              <h2>2015</h2>
              <p>Début du developpement d'un prototype avec la mise en place d'un serveur sms</p>
            </div>
          </div>

          <div class="container right">
            <div class="content">
              <h2>2016</h2>
              <p>Début du developpement de la version pour le grand public(version finale)</p>
            </div>
          </div>

          <div class="container left">
            <div class="content">
              <h2>2016</h2>
              <p>Début des difficultés pour le lancement de la version finale,mais maintenance du prototype</p>
            </div>
          </div>
          <div class="container right">
            <div class="content">
              <h2>2017</h2>
              <p>...</p>
            </div>
          </div>
          <div class="container left">
            <div class="content">
              <h2>2018</h2>
              <p>...</p>
            </div>
          </div>

          <div class="container right">
            <div class="content">
              <h2>2019</h2>
              <p>Reprise du developpement de la version finale</p>
            </div>
          </div>
          <div class="container left">
            <div class="content">
              <h2>2020</h2>
              <p>Nous y sommes en fin et nous espérons continuer sur cette lancée avec beaucoup de succès</p>
            </div>
          </div>

    </div> 
</div>

{% endblock %}
