{% extends 'base.html.twig' %}

{% block body %}

<div class="container block-time-line">
    <div class="timeline">
        <div class="container left">
          <div class="content">
            <h2>Un constat</h2>
            <p>Comment résoudre la recherche de maison en particulier et de bien immobilier en général dans le district d'Abidjan ?</p>
          </div>
        </div>

        <div class="container right">
          <div class="content">
             <h2>Une idée</h2>
             <p>Système d'alerte par sms de bien immobilier disponible dans une commune.</p>
          </div>
        </div>

        <div class="container left">
            <div class="content">
             <h2>Pourquoi ?</h2>
             <p>L'objectif premier de ce projet est d'aider les populations dans leur recherche de bien immobilier.
             Réduire leur temps de recherche et également le coût financier lié à cette recherche.</p>
            </div>
          </div>

          <div class="container right">
            <div class="content">
              <h2>Quand ?</h2>
              <p>La réalisation du projet a réllement débuté en 2015.</p>
            </div>
          </div>

          <div class="container left">
            <div class="content">
              <h2>Comment ?</h2>
              <p>La réalisation du projet c'est via un ordinateur tournant avec un système d'exploitation 
              Linux sur lequel tournait un serveur SMS. Le tout piloté par programme informatique.</p>
            </div>
          </div>
          <div class="container right">
            <div class="content">
              <h2>2015 à 2020 ?</h2>
              <p>Oui cela fait un bon bout de temps en effet. Nous avons eu certianes difficultés à gerer et 
              maintenir le projet durant tout ce temps. Cela dit nous sommes toujours là et près à franchir un nouveau cap 😎</p>
            </div>
          </div>
          <div class="container left">
            <div class="content">
              <h2>La suite ?</h2>
              <p>Nous verrons où le vend nous emmènera.Pour le moment l'objectif est de faire fonctionner le projet de facon plus 
              professionel et d'observer. Après ? on verra</p>
            </div>
          </div>
    </div> 
</div>

{% endblock %}
