{% extends 'admin.html.twig' %}

{% block body %}
    <div class="container">
        <h2 class="titre-page"> Liste des communes</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Identifiant</th>
                <th scope="col">Commune</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
    {% for commune in communes %}
            <tbody>
            <tr>
                <td> {{ commune.id }} </td>
                <td> {{ commune.nom }} </td>
                <td> <a href="{{ path('admin_commune_edit',{
                        id:commune.id
                    })
                    }}" class="btn btn-primary">Modifier</a> </td>

            </tr>
            </tbody>
    {% endfor %}
        </table>
    </div>
{% endblock %}