{% extends 'admin.html.twig' %}

{% block body %}
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Identifiant</th>
                <th scope="col">Nom</th>
                <th scope="col">Numéro</th>
                <th scope="col">Rôle</th>
                <th scope="col">Email</th>
                
            </tr>
            </thead>
    {% for user in users %}
            <tbody>
            <tr>
                <td> {{ user.id }} </td>
                <td> {{ user.username }} </td>
                <td> {{ user.numero }} </td>
                <td> 
                    {% for role in user.roles %}
                        {% if role == 'ROLE_ADMIN' %}
                            Administrateur
                        {% elseif role== 'ROLE_USER' %}
                            Utilisateur
                        {% else %}
                            Annonceur
                        {% endif %}
                    {% endfor %}
                </td>
                <td> {{ user.email }} </td>
                
            </tr>
            </tbody>
    {% endfor %}
        </table>
    </div>
{% endblock %}